<template name="AppExample_Body">

  <div id="app"> <!--APP DIV-->

    <div class="ui left vertical inverted labeled icon sidebar menu"> <!--UI SIDEBAR DIV-->

      <a class="item"> <!--FIRST ITEM-->
        <div class="image"><img class="ui tiny centered circular image" src="/images/mMangro-1.jpg"/></div>
        My Account
      </a> <!--FIRST /ITEM-->

      <!--<div class="ui divider"></div>-->

      <a class="item"> <!--SECOND ITEM-->
        <i class="book icon"></i>
        My Projects
      </a> <!--SECOND /ITEM-->

      <a class="item"> <!--THIRD ITEM-->
        <i class="mail icon"></i>
        My Messages
      </a> <!--THIRD /ITEM-->

      <a class="item"> <!--FOURTH ITEM-->
        <i class="grid layout icon"></i>
        Available Projects
      </a> <!--FOURTH /ITEM-->

      <a class="item"> <!--FIFTH ITEM-->
        <i class="block layout icon"></i>
        Recent Projects
      </a> <!--FIFTH /ITEM-->

      <a class="item"> <!--SIXTH ITEM-->
        <i class="users icon"></i>
        Collaborators
      </a> <!--SIXTH /ITEM-->

      <a class="item"> <!--SEVENTH ITEM-->
        <i class="upload icon"></i>
        List a New Project
      </a> <!--SEVENTH /ITEM-->

      <a class="item"> <!--EIGHTH ITEM-->
        <i class="sign out icon"></i>
        Log Out
      </a> <!--EIGHTH /ITEM-->

      <a class="item"> <!--NINTH ITEM-->
        <i class="help icon"></i>
        Help & Feedback
      </a> <!--NINTH /ITEM-->

    </div> <!--UI SIDEBAR DIV-->

    <div class="pusher"> <!--PUSHER DIV-->

      <div class="ui top fixed borderless inverted menu"> <!--UI TOP FIXED MENU DIV-->

        <div class="ui container"> <!--UI CONTAINER DIV-->

          <button class="ui tiny right button"> <!--UI BUTTON-->
            <center><i class="large inverted list icon"></i></center>
          </button> <!--UI /BUTTON-->

          {{> HeaderExample}}

        </div> <!--UI CONTAINER /DIV-->

      </div> <!--UI TOP FIXED MENU /DIV-->

      {{>Template.dynamic template=main}}

    </div> <!--PUSHER /DIV-->

    {{> Footer}}

  </div> <!--APP /DIV-->

  <script>
    /*$(".ui.sidebar").sidebar()
     .sidebar('setting', 'transition', 'overlay')
     ;*/
    $('#app .ui.sidebar')
        .sidebar({ context: $('#app') })
        .sidebar('setting', 'transition', 'overlay')
        .sidebar('attach events', '.ui.button');
  </script>

</template>
