<template name="Header">

  <a class="item"><img class="ui tiny image" src="/images/alloy-wordmark.svg" /></a> <!--LOGO GOES HERE-->

  <a class="item"><h3>Hello, {{#if currentUser}}Name{{/if}}</h3></a> <!--DISPLAYS USER'S NAME-->

      <!--{{#if currentUser}}

        <a class="{{ isActiveRoute 'Add_Stuff_Page'}} item" href="{{ pathFor 'Add_Stuff_Page' }}">Add Stuff </a>

        <a class="{{ isActiveRoute 'List_Stuff_Page'}} item" href="{{ pathFor 'List_Stuff_Page' }}">List Stuff</a>

      {{/if}}-->

      <!--<a href="#" class="item">{{> loginButtons }} </a>--> <!--SIDE BAR HANDLES THIS & NO NEED FOR LOG IN BUTTON ON TOP-->

  <div class="right item"> <!--FRIST RIGHT ITEM DIV-->

    <div class="ui category search"> <!--SEARCH BAR DIV-->

      <div class="ui icon input"> <!--UI ICON INPUT DIV-->

        <input class="prompt" type="text" placeholder="Search Projects...">

        <i class="search icon"></i>

      </div> <!--UI ICON INPUT /DIV-->

    </div> <!--SEARCH BAR /DIV-->

  </div> <!--FIRST RIGHT ITEM /DIV-->

</template>