<template name="Header">

  <div class="ui top fixed borderless inverted menu">

    <div class="ui container">

      {{#if currentUser}}

      <div class="item"><h3>Moar Chow</h3></div> <!--LOGO GOES HERE(?)-->

      <a class="{{ isActiveRoute 'Home_Page'}} item" href="{{pathFor 'Home_Page'}}"><i class="ui home icon"></i>Home</a>

      <a class="{{ isActiveRoute 'Vendor_List_Page'}} item" href="{{pathFor 'Vendor_List_Page'}}"><i class="ui food icon"></i>Vendors</a>

      <a class="{{ isActiveRoute 'Food_Truck_Map'}} item" href="{{pathFor 'Food_Truck_Map'}}"><i class="ui map icon"></i>Map</a>

      <a class="right item">{{> Cas_Login }}</a>

      {{/if}}

    </div>

  </div>

</template>