<template name="Header">

  {{#if currentUser}}

  <div class="ui top fixed borderless inverted menu">

    <div class="ui container">

      <a class="item" href="{{pathFor 'Home_Page'}}"><h1>Moar Chow</h1></a> <!--LOGO GOES HERE-->

      <a class="item"><h3>Hello, {{user}}!</h3></a> <!--DISPLAYS USER'S NAME-->
      <a class="fitted right item">{{> Cas_Login }}</a>
    </div>

    <div class="right item"> <!--FRIST RIGHT ITEM DIV-->

      <div class="ui category search"> <!--SEARCH BAR DIV-->

        <div class="ui icon input"> <!--UI ICON INPUT DIV-->

          <input class="prompt" type="text" placeholder="Search Projects...">

          <i class="search icon"></i>

        </div> <!--UI ICON INPUT /DIV-->

      </div> <!--SEARCH BAR /DIV-->

    </div> <!--FIRST RIGHT ITEM /DIV-->

  </div>

  {{else}}
  {{> Landing_Page}}
  {{/if}}

</template>