body {
  padding-top: 61px; /* Move body of page below navbar. */
}

.title-header {
  font-family: 'Unica One', sans-serif;
  font-size: 100px;
  height: 600px;
  color: white;
  text-align: center;
  /*background-color: #26A69A;*/
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url('/images/donuts.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}
