body {
  padding-top: 61px; /* Move body of page below navbar. */
}

.title-header {
  font-family: 'Unica One', sans-serif;
  font-size: 100px;
  height: 300px;
  color: white;
  text-align: center;
  background-color: #26A69A;
  background-size: cover;

}
#menu-list {
  box-shadow: none;
  border-radius: 0;
  /*text-align:center;*/
}
#menu-category {
  font-family: 'Unica One', sans-serif;
  font-size: 30px;
  color: #00695C;
}
#menu-item {
  font-size: medium;
  color: #004D40;
}
